In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('tips.csv')

In [7]:
# Shorts values using 'sort_values()'
df.sort_values('tip', ascending=True) # by default 'ascending=True'

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3508911676966392,Fri3780
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3559221007826887,Sat4801
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4359488526995267,Sat3455
236,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3543676378973965,Sat5032
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
...,...,...,...,...,...,...,...,...,...,...,...
141,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3526515703718508,Thur1025
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6596453823950595,Sat8139
23,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3542584061609808,Sat239
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954

In [9]:
# you can pass a list inside this '()'
df.sort_values(['tip', 'size'], ascending=False) # by default 'ascending=True'

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590
23,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3542584061609808,Sat239
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6596453823950595,Sat8139
141,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3526515703718508,Thur1025
...,...,...,...,...,...,...,...,...,...,...,...
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3508911676966392,Fri3780
236,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3543676378973965,Sat5032
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4359488526995267,Sat3455
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3559221007826887,Sat4801

In [ ]:
# Fint the max value index location
df['total_bill'].max() # for return the max value
df['total_bill'].idxmax() # return max value indx location

170

In [ ]:
df.iloc[170] # return max value index

total_bill                     50.81
tip                             10.0
sex                             Male
smoker                           Yes
day                              Sat
time                          Dinner
size                               3
price_per_person               16.94
Payer Name             Gregory Clark
CC Number           5473850968388236
Payment ID                   Sat1954
Name: 170, dtype: object

In [ ]:
# OR
df.iloc[df['total_bill'].idxmax()]

total_bill                     50.81
tip                             10.0
sex                             Male
smoker                           Yes
day                              Sat
time                          Dinner
size                               3
price_per_person               16.94
Payer Name             Gregory Clark
CC Number           5473850968388236
Payment ID                   Sat1954
Name: 170, dtype: object

In [12]:
# Quick correlation check using '.corr()'
# correlation = df.corr()

correlation = df.select_dtypes(include=['number']).corr()

In [13]:
correlation

                  total_bill       tip      size  price_per_person  CC Number
total_bill          1.000000  0.675734  0.598315          0.647554   0.104576
tip                 0.675734  1.000000  0.489299          0.347405   0.110857
size                0.598315  0.489299  1.000000         -0.175359  -0.030239
price_per_person    0.647554  0.347405 -0.175359          1.000000   0.135240
CC Number           0.104576  0.110857 -0.030239          0.135240   1.000000

In [14]:
# Value count using '.value_counts'
df.value_counts() # Q==f

total_bill  tip    sex     smoker  day   time    size  price_per_person  Payer Name       CC Number         Payment ID
3.07        1.00   Female  Yes     Sat   Dinner  1     3.07              Tiffany Brock    4359488526995267  Sat3455       1
5.75        1.00   Female  Yes     Fri   Dinner  2     2.88              Leah Ramirez     3508911676966392  Fri3780       1
7.25        1.00   Female  No      Sat   Dinner  1     7.25              Terri Jones      3559221007826887  Sat4801       1
            5.15   Male    Yes     Sun   Dinner  2     3.62              Larry White      30432617123103    Sun9209       1
7.51        2.00   Male    No      Thur  Lunch   2     3.76              Daniel Robbins   4823139288341889  Thur6321      1
                                                                                                                         ..
45.35       3.50   Male    Yes     Sun   Dinner  3     15.12             Jose Parsons     4112207559459910  Sun2337       1
48.17       5.00   Male    No      Sun   Dinner  6     8.03              Ryan Gonzales    3523151482063321  Sun7518       1
48.27       6.73   Male    No      Sat   Dinner  4     12.07             Brian Ortiz      6596453823950595  Sat8139       1
48.33       9.00   Male    No      Sat   Dinner  4     12.08             Alex Williamson  676218815212      Sat4590       1
50.81       10.00  Male    Yes     Sat   Dinner  3     16.94             Gregory Clark    5473850968388236  Sat1954       1
Name: count, Length: 244, dtype: int64

In [17]:
# Check unique value in DataFrame using '.unique()' OR '.nunique()'
df['sex'].unique() # return unique values

array(['Female', 'Male'], dtype=object)

In [18]:
df['sex'].nunique() # return number of unique value in int

2

In [19]:
df['day'].unique() # return unique values

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [20]:
df['day'].nunique() # return number of unique value in int

4

In [ ]:
# Replace method
df['sex'].replace('Female', 'F')

0         F
1      Male
2      Male
3      Male
4         F
       ...
239    Male
240       F
241    Male
242    Male
243       F
Name: sex, Length: 244, dtype: object

In [ ]:
# For multiple replace
df['sex'].replace(['Female', 'Male'], ['F', 'M'])

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: object

In [ ]:
# Replace using 'Map' method
# Note it's best for large data set's
# And it's easy to read :)
mymap = {'Female':'F', 'Male':'M'}
df['sex'].map(mymap)

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: object

In [ ]:
# Check duplicates, and remove duplicates
# 1'st create a simple df
simple_df = pd.DataFrame([1, 2, 2, 3, 4, 4, ], ['a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
simple_df

   0
a  1
b  2
c  2
d  3
e  4
f  4

In [ ]:
# Check how many duplicates are there
simple_df.duplicated() # It return's bool value

a    False
b    False
c     True
d    False
e    False
f     True
dtype: bool

In [ ]:
# Drop all the duplicates
simple_df.drop_duplicates()

   0
a  1
b  2
d  3
e  4

In [ ]:
# df['total_bill'].between(10, 20, inclusive=True)
df['total_bill'].between(10, 20, inclusive='both') # Changed inclusive=True to inclusive='both'

0       True
1       True
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242     True
243     True
Name: total_bill, Length: 244, dtype: bool

In [ ]:
test_df = df['total_bill']

In [ ]:
test_df.dtype

dtype('float64')

In [ ]:
test_df = df[df['total_bill'].between(10, 20, inclusive='both')]

In [ ]:
test_df.sample(20)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
71,17.07,3.00,Female,No,Sat,Dinner,3,5.69,Teresa Fisher,5442222963796367,Sat3469
236,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3543676378973965,Sat5032
79,17.29,2.71,Male,No,Thur,Lunch,2,8.64,Brian Diaz,4759290988169738,Thur9501
137,14.15,2.00,Female,No,Thur,Lunch,2,7.08,Vanessa Morris,213189344156819,Thur3890
22,15.77,2.23,Female,No,Sat,Dinner,2,7.88,Ashley Shelton,3524119516293213,Sat9786
84,15.98,2.03,Male,No,Thur,Lunch,2,7.99,Jason Jones,4442984204923315,Thur1944
154,19.77,2.00,Male,No,Sun,Dinner,4,4.94,James Smith,213169731428229,Sun5814
20,17.92,4.08,Male,No,Sat,Dinner,2,8.96,Thomas Rice,4403296224639756,Sat1709
174,16.82,4.00,Male,Yes,Sun,Dinner,2,8.41,Brian Miles,3586342145399277,Sun7621
105,15.36,1.64,Male,Yes,Sat,Dinner,2,7.68,David Price,4029957452720,Sat5106
128,11.38,2.00,Female,No,Thur,Lunch,2,5.69,Christine Perkins,3548391118913991,Thur8551
108,18.24,3.76,Male,No,Sat,Dinner,2,9.12,Steven Grant,4112810433473856,Sat6376
32,15.06,3.00,Female,No,Sat,Dinner,2,7.53,Amanda Wilson,213186304291560,Sat1327
198,13.00,2.00,Female,Yes,Thur,Lunch,2,6.50,Katherine Bond,4926725945192,Thur437
176,17.89,2.00,Male,Yes,Sun,Dinner,2,8.94,Walter Simmons,6011481578696110,Sun5961
55,19.49,3.51,Male,No,Sun,Dinner,2,9.74,Michael Hamilton,6502227786581768,Sun1118
233,10.77,1.47,Male,No,Sat,Dinner,2,5.38,Paul Novak,6011698897610858,Sat1467
234,15.53,3.00,Male,Yes,Sat,Dinner,2,7.76,Tracy Douglas,4097938155941930,Sat7220
144,16.43,2.30,Female,No,Thur,Lunch,2,8.22,Linda Jones,6542729219645658,Thur9002
202,13.00,2.00,Female,Yes,Thur,Lunch,2,6.50,Ashley Shaw,180088043008041,Thur1301

In [ ]:
test_df['total_bill'].max()

19.82

In [ ]:
test_df['total_bill'].argmax()

np.int64(13)

In [ ]:
test_df.iloc[13]

total_bill                     19.82
tip                             3.18
sex                             Male
smoker                            No
day                              Sat
time                          Dinner
size                               2
price_per_person                9.91
Payer Name          Christopher Ross
CC Number             36739148167928
Payment ID                   Sat6236
Name: 24, dtype: object

In [ ]:
test_df.iloc[test_df['total_bill'].argmax()]

total_bill                     19.82
tip                             3.18
sex                             Male
smoker                            No
day                              Sat
time                          Dinner
size                               2
price_per_person                9.91
Payer Name          Christopher Ross
CC Number             36739148167928
Payment ID                   Sat6236
Name: 24, dtype: object

In [ ]:
test_df['total_bill'].idxmax()

np.int64(24)

In [ ]:
test_df.iloc[test_df['total_bill'].idxmax()]

total_bill                     16.04
tip                             2.24
sex                             Male
smoker                            No
day                              Sat
time                          Dinner
size                               3
price_per_person                5.35
Payer Name              Adam Edwards
CC Number           3544447755679420
Payment ID                   Sat8549
Name: 40, dtype: object

In [ ]:
# '.nlargest()' return's largest "tip" in 'df'
df.nlargest(3, 'tip') # (Row, 'Column') \ (no_of_row_you_want, 'Column_name')

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590
23,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3542584061609808,Sat239

In [ ]:
# OR
df.sort_values('tip', ascending=False).iloc[0:2] # by default ascending=True

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
170,50.81,10.0,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954
212,48.33,9.0,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590

In [ ]:
# '.nsmallest()' return's smallest "tip" in 'df'
df.nsmallest(3, 'tip') # (Row, 'Column') \ (no_of_row_you_want, 'Column_name')

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
67,3.07,1.0,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4359488526995267,Sat3455
92,5.75,1.0,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3508911676966392,Fri3780
111,7.25,1.0,Female,No,Sat,Dinner,1,7.25,Terri Jones,3559221007826887,Sat4801

In [ ]:
# OR
df.sort_values('tip', ascending=True).iloc[0:2] # by default ascending=True

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
92,5.75,1.0,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3508911676966392,Fri3780
111,7.25,1.0,Female,No,Sat,Dinner,1,7.25,Terri Jones,3559221007826887,Sat4801

In [ ]:
df.sample(20)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
62,11.02,1.98,Male,Yes,Sat,Dinner,2,5.51,Joseph Hart,180046232326178,Sat2265
122,14.26,2.50,Male,No,Thur,Lunch,2,7.13,Perry Garcia,180034646320219,Thur3579
218,7.74,1.44,Male,Yes,Sat,Dinner,2,3.87,Nicholas Archer,340517153733524,Sat4772
57,26.41,1.50,Female,No,Sat,Dinner,2,13.20,Melody Simon,4745394421258160,Sat8980
183,23.17,6.50,Male,Yes,Sun,Dinner,4,5.79,Dr. Michael James,4718501859162,Sun6059
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
131,20.27,2.83,Female,No,Thur,Lunch,2,10.14,Ashley Burke,5394652998970066,Thur9005
69,15.01,2.09,Male,Yes,Sat,Dinner,2,7.50,Adam Hall,4700924377057571,Sat855
114,25.71,4.00,Female,No,Sun,Dinner,3,8.57,Katie Smith,5400160161311292,Sun6492
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
224,13.42,1.58,Male,Yes,Fri,Lunch,2,6.71,Ronald Vaughn DVM,341503466406403,Fri5959
91,22.49,3.50,Male,No,Fri,Dinner,2,11.24,Earl Horn,6011849326227398,Fri5700
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4359488526995267,Sat3455
158,13.39,2.61,Female,No,Sun,Dinner,2,6.70,Ashley Boyd,3571088058115021,Sun982
213,13.27,2.50,Female,Yes,Sat,Dinner,2,6.64,Robin Andersen,580140531089,Sat1374
113,23.95,2.55,Male,No,Sun,Dinner,2,11.98,John Joyce,6565964211060570,Sun1885
221,13.42,3.48,Female,Yes,Fri,Lunch,2,6.71,Leslie Kaufman,379437981958785,Fri7511
150,14.07,2.50,Male,No,Sun,Dinner,2,7.04,Luke Rice,4813617017359506,Sun8863
11,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4577817359320969,Sun6686
35,24.06,3.60,Male,No,Sat,Dinner,3,8.02,Joseph Mullins,5519770449260299,Sat632

In [ ]:
df.sample(frac=0.1)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
94,22.75,3.25,Female,No,Fri,Dinner,2,11.38,Jamie Garza,676318332068,Fri2318
200,18.71,4.00,Male,Yes,Thur,Lunch,3,6.24,Jason Conrad,4581233003487,Thur6048
191,19.81,4.19,Female,Yes,Thur,Lunch,2,9.90,Kristy Boyd,4317015327600068,Thur967
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
169,10.63,2.00,Female,Yes,Sat,Dinner,2,5.32,Amy Hill,3536332481454019,Sat1788
13,18.43,3.00,Male,No,Sun,Dinner,4,4.61,Joshua Jones,6011163105616890,Sun2971
90,28.97,3.00,Male,Yes,Fri,Dinner,2,14.48,Daniel Mason,3597456900644078,Fri4175
104,20.92,4.08,Female,No,Sat,Dinner,2,10.46,Gabrielle Frederick,4013010878990106,Sat3194
56,38.01,3.00,Male,Yes,Sat,Dinner,4,9.50,James Christensen DDS,349793629453226,Sat8903
185,20.69,5.00,Male,No,Sun,Dinner,5,4.14,Joseph Howell,30362407455623,Sun5842
11,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4577817359320969,Sun6686
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
75,10.51,1.25,Male,No,Sat,Dinner,2,5.26,Kenneth Hayes,213142079731108,Sat5056
102,44.30,2.50,Female,Yes,Sat,Dinner,3,14.77,Heather Cohen,379771118886604,Sat6240
179,34.63,3.55,Male,Yes,Sun,Dinner,2,17.32,Brian Bailey,346656312114848,Sun9851
230,24.01,2.00,Male,Yes,Sat,Dinner,4,6.00,Michael Osborne,4258682154026,Sat7872
154,19.77,2.00,Male,No,Sun,Dinner,4,4.94,James Smith,213169731428229,Sun5814
21,20.29,2.75,Female,No,Sat,Dinner,2,10.14,Natalie Gardner,5448125351489749,Sat9618
165,24.52,3.48,Male,No,Sun,Dinner,3,8.17,Jacob Hansen,4031116007387,Sun9043
190,15.69,1.50,Male,Yes,Sun,Dinner,2,7.84,Riley Barnes,180053549128800,Sun5104
238,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,676184013727,Sat9777

In [ ]:
test_df = df.sample(frac=0.1) # return's 10 % sample os df

In [ ]:
len(test_df)

24

In [ ]:
test_df = df.sample(frac=0.2) # return's 20 % sample os df

In [ ]:
len(test_df)

49

In [ ]:
len(df)

244

In [ ]:
test_df = df.sample(frac=0.5) # return's 50 % sample os df

In [ ]:
len(test_df)

122

In [ ]:
244-122

122